header#header
  .container-fluid
    .logo
      h1
        a(href='index.html') 
      a(href='index.html')
    button.nav-toggle(type='button')
      i.bx.bx-menu
    nav.nav-menu
      ul
        li.active
          a.scrollto(href='#header') Home
        li
          a.scrollto(href='#about') About Us
        li
          a.scrollto(href='#why-us') Why Us
        li
          a.scrollto(href='#contact') Contact Us