extends layout.pug 

append styles 
  link(href='assets/css/login.css' rel='stylesheet')


block content
  main
    .login-block
      h1 Log into your account
      form#login-form(action='#')
        .form-group
          .input-group
            span.input-group-addon
              i.fa.fa-user.ti-user
            input.form-control(type='email' placeholder='Your email address' required)
        hr.hr-xs
        .form-group
          .input-group
            span.input-group-addon
              i.fa.fa-lock.ti-unlock
            input.form-control(type='password' placeholder='Your password', required)
        hr.hr-xs
        a.forgot-link(href='#') Forgot Password?
        button.btn.btn-secondary.btn-lg.btn-block Log in







